@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
    background-color: #008cff;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 30px;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 10000000000;
    background-color: #008cff;
    transition: ease 300ms;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
}

.logo {
    height: 80px;
    line-height: 80px;
}

.logo > img {
    width: 200px;
    padding: 23px 0 0 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    line-height: 80px;
}

.nav-list-item {
    margin-right: 30px;
    font-size: 18px;
}

.nav-link {
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    transition: ease 200ms;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    background: #fff;
    color: black;
    width: 100%;
    height: 4px;
    left: 0;
    top: 100%;
    opacity: 0;
    border-radius: 5px;
    transition: ease 200ms;
    transform: scaleX(0);
}

.selected::after,
.nav-link:hover::after {
    opacity: 1;
    transform: scaleX(0.7);
}

.search-btn {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn:hover::after {
    top: 80%;
    opacity: 1;
}
.search-btn::after {
    content: 'Buscar';
    position: absolute;
    top: 100%;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: ease 300ms;
    opacity: 0;
    pointer-events: none;
}

.search-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 63vh;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background: linear-gradient(180deg, #008cff, #008cff, #00c7ff);
}

.search-panel > h1 {
    color: #fff;
    font-size: 50px;
}
.search-panel > p {
    color: #f8f8f8;
    font-size: 25px;
}

.search-form {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.search-input::-webkit-search-cancel-button {
    display: none;
}
.search-input {
    width: 50%;
    padding: 10px 18px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    outline: none;
    transition: ease 300ms;
}
.search-input:hover, .search-input:focus {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.results-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.results-container > h2 {
    font-size: 40px;
    color: #008cff;
}
.results-paragraph {
    font-size: 23px;
}

.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 23px 10px;
    text-decoration: none;
    color: #000;
    position: relative;
    transition: ease 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease 300ms;
}
.product:hover {
    box-shadow: 0 12px 25px rgba(0,0,0,0.5);
}

.hover-effect {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    opacity: 0;
    transition: ease 200ms;
}
.hover-effect > h3 {
    color: #fff;
    background-color: #0b82f1;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 23px;
    position: relative;
    top: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transition: ease 300ms;
}
.product:hover > .hover-effect {
    opacity: 1;
}
.product:hover > .hover-effect > h3 {
    top: -20px;
}

.product > img {
    width: 250px;
}
.product > h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.product > div {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
    align-items: center;
}
.product > div > p {
    font-size: 22px;
}
.product > div > h4 {
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 20px;
    background-color: #0b82f1;
    color: #fff;
}

.searchMessage {
    color: #757575;
    font-weight: 400;
    display: none;
}