@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
    background-color: #2683da;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 30px;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 100000000;

    transition: ease 300ms;
}

.header_active {
    background: rgb(38, 131, 218);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    line-height: 80px;
}

.logo > img {
    width: 200px;
    padding: 23px 0 0 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    line-height: 80px;
}

.nav-list-item {
    margin-right: 30px;
    font-size: 18px;
}

.nav-link {
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    transition: ease 200ms;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    background: #fff;
    color: black;
    width: 100%;
    height: 4px;
    left: 0;
    top: 100%;
    opacity: 0;
    border-radius: 5px;
    transition: ease 200ms;
    transform: scaleX(0);
}

.selected::after,
.nav-link:hover::after {
    opacity: 1;
    transform: scaleX(0.7);
}

.prod-nav-list {
    background-color: #fff;
    list-style: none;
    padding: 0 10px;
    position: absolute;
    border-radius: 12px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 18px;
    margin-top: 25px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: ease 200ms;
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
}

.prod-link:hover > .prod-nav-list {
    visibility: visible;
    opacity: 1;
    margin-top: 18px;
}

.prod-nav-list::before {
    content: "";
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: -20px;
    transform: rotate(45deg);
    border-top-left-radius: 10px;
}

.prod-nav-list-item {
    padding-left: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: ease 200ms;
    position: relative;
    font-size: 15px;
    margin: -5px 0;
    font-weight: 600;
}

.prod-nav-list-item::after {
    content: '';
    background: rgb(38, 131, 218);
    position: absolute;
    left: 5px;
    top: 75%;
    width: 0;
    height: 4px;
    border-radius: 5px;
    transition: ease 300ms;
}

.prod-nav-list-item:hover::after {
    width: 100%;
}

main {
    padding: 0;
    margin: 0;
}

.welcome-container {
    background: linear-gradient(-25deg, rgb(38, 131, 218), rgb(85, 169, 248));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-text {
    position: relative;
    top: -70px;
}

.welcome-text > h1 {
    font-size: 82px;
    color: rgb(12, 59, 104);
    text-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

.welcome-text > p {
    font-size: 35px;
    color: white;
    text-shadow: 0 5px 12px rgba(0,0,0,0.3);
    font-weight: 600;
    letter-spacing: 1.5px;
}

.shop-btn {
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    background: rgb(25, 117, 202);
    border-radius: 20px;
    transition: ease 200ms;
    z-index: 2000;
}

.shop-btn:hover {
    background: rgb(43, 137, 226);
    padding: 20px 40px;
}

.welcome-pic {
    position: relative;
}

.welcome-pic > img {
    width: 600px;
    background: linear-gradient(360deg, rgb(20, 87, 149), rgb(43, 137, 226));
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    box-shadow: 0 0 20px rgba(0,0,0,0.18);
}

.wave-top {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -280px;
}

.chat {
    display: flex;
    padding: 0 22px;
    justify-content: space-evenly;
}

.info1 {
    width: 600px;
    height: 230px;
}

.info1 > h1 {
    font-size: 48px;
    line-height: 80px;
    color: rgb(20, 87, 149);
    text-shadow: 10px 10px 1px rgba(0,0,0,0.08);
}

.chatting {
    width: 500px;
    height: 600px;
}

.wave-bottom {
    transform: scaleY(-1);
    position: relative;
    z-index: 10;
}

.lo-mejor {
    background: linear-gradient(35deg, #2683da, #55a9f8);
    padding: 50px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-align: center;
}

.lo-mejor > h2 {
    text-align: center;
    color: white;
    font-size: 45px;
}

.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 34px;
    margin-bottom: 40px;
}

.categoria {
    padding: 14px;
    font-weight: 200;
    font-size: 23px;
    color: rgb(38, 131, 218);
    background-color: white;
    border-radius: 14px;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 22px 34px;
    transition: ease 300ms;
}

.categoria:hover {
    transform: scale(1.2);
    background-color: rgb(38, 131, 218);
    color: white;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}

.ir-a-la-tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ialt-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ialt-info > h1 {
    font-size: 47px;
    text-align: start;
    margin-bottom: 7px;
    color: rgb(20, 87, 149);
    text-shadow: 10px 10px 1px rgba(0,0,0,0.08);
}

.ialt-info > p {
    font-size: 30px;
    text-align: start;
    font-weight: 500;
}

.ialt-svg > svg {
    width: 600px;
    height: 600px;
}

.footer {
    background-color: rgb(38, 131, 218);
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 14px 0;
}

.logo-footer {
    display: flex;
    align-items: center;
    padding: 0 14px;
}

.logo-footer > img {
    width: 250px;
}

.footer-list {
    margin: 0 34px;
}

.footer-list1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-list1 > a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.social-media-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-media-footer > h3 {
    color: rgb(12, 59, 104);
}

.social-media-footer > a {
    color: white;
    text-decoration: none;
}

.contact-footer {
    display: flex;
    flex-direction: column;
}

.contact-footer > h3 {
    color: rgb(12, 59, 104);
}

.contact-footer > a {
    color: white;
    text-decoration: none;
}